div#translate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    /* transform: translate(100px,50px); */
    /* transform: rotate(90deg); */
    transform: scale(2,2);
    padding: 10px;
}
div#scaleX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    transform: scaleX(3);
}
div#scaleY{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 250px;
    transform: scaleY(3);
}
div#skewX{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 650px;
    transform: skewX(-40deg);
}
div#skewY{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin-left: 650px;
    transform: skewY(40deg);
}
div#rotate{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    color: white;
    background-color: #00014e;
    padding: 10px;
    margin: 740px;
    /* transform:rotate(130deg)*/
    transform: rotateZ(130deg);
} 
.conteiner{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background 3s border-radius 5s;
    transition-delay: 1s;
    transition-timing-function: linear ;
}
.conteiner:hover{
    background: blue;
    border-radius: 50%;
}
#foto1 img {
    transform: scale(1);
    transition: .3 ease-in-out;
}
#foto1:hover img{
    transform: scale(1.3);
}